@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,400&family=Ubuntu:wght@300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:'Rubik', sans-serif;
  font-size: 400;
}
div{
  display: block;
}
.home-body{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header{
  width: 100%;
  height: 110px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-family: "Rubik";
}
.social{
  background-color: #181D31;
  width: 100%;
  height: 40px;
}

.social-icons{
  width: 240px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  
}
.social-icons p{
  color: aliceblue;
  font-size: 12px;
  text-decoration: none;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo{
  margin-right: 25px;
  margin-bottom: 10px;
}
.nav-logo img{
  height: 50px;
  width: 100px;
}
.nav-link{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-right:50px;
  gap: 25px;
  
}
.nav-link a{
  text-decoration: none;
  color: #0f0f0f;
  font-size: 16PX;
  font-weight: 400;
  
}
.nav-link a:hover{
  
  color: #678983;
}

/* MAIN*/

.slide-container{
  height: 100%;
  background-image: url('../img/fondo_.png');
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
	width: 100%;
  height: 420px;
  background-color: #00000063; 
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main-image{
  height: 100%;
  background-image: url('../img/fondo_.png');
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
	width: 100%;
  height: 200px;
  background-color: #00000063; 
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
  margin-bottom: 15px;
}
.main-image h1{
  padding-top: 60px;
  color: #fff;
  font-size: 50px;
}
.main-logo{
  padding: 25px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-mision_vision{
  display: grid;
  grid-template-columns: 500px 500px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  width: 100%;
  font-family: "Rubik";
  background-color: #dee0e4;
  border-top: solid 2px #678983;
  border-bottom: solid 2px #678983;
}
.main-mision_vision h3{
  text-align: center;
  margin: 10px;
  font-weight: 400;
}
.mision_vision{
  display: flexbox;
  align-items: center;
  justify-items: flex-end;
  padding: 20px;
  width: 500px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 5px;
  border: solid 2px #bad0cc ;
  font-weight: 200;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.descripcion{
  background-color: #FFF;
  width: 100%;
  margin-top: 15px;
  border-bottom: solid 2px #678983;
  
}
.descripcion-text{
    text-align: center;
    width: 100%;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 35px;
    padding-bottom: 40px;
    font-size: 22px;
    font-family: 'Rubik';
    font-weight: 200;
    color: #0f0f0f;
}

.clientes{
  padding: 40px;
  margin: 15px;
  display: grid;
  grid-template-columns: 600px 600px;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.clientes h3{
  margin: 10px;
  font-weight: 400;
  font-family: 'Ubuntu';
  text-align: center;
  font-size: 28px; 
  color: #0f0f0f;
}

.clientes_imagenes{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 10px;
}
.clientes_imagenes img{
  width: 120px;
  height: 120px;
}


/*Servicios */
.servicios{
  padding: 0 80px 40px;
  background-color: #dee0e4;
  border-bottom: solid 2px #678983;
}

.servicios h2{
  padding: 35px 0px 0px 0px;
  
  text-align: center;
  font-size: 28PX;
  font-weight: 500;
  color: #0f0f0f;
}
.posts{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.posts-blog{
  padding: 4px;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: #FFF;
  border-radius: 5px;
  font-family: 'Rubik';
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.posts-blog img{
 width: 100%;
 border-radius: 5px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
}
.posts-blog h3{
  margin: 15px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #0f0f0f;
}

.posts-blog p{
  margin: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 100;
  color: #0f0f0f;
}

.posts-blog a{
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  margin: 5px;
  color: #232e2b;
}

/* contacto */

.contacto{
  margin-left: auto ;
  margin-right: auto ;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dee0e4;
  padding: 10px 0px 10px 0px;
  

}
.contacto-container{
  background-image: linear-gradient(to bottom, #ffffff, #fff, #fff, #fff, #455c5809);
  height: 600px;
  width: 500px;
  margin-bottom: 120px;
  margin-top: 20px;

  border-top-left-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.contacto-container h3{
  padding: 5px;
  margin-left: 30px;
  margin-top: 30px;
  
  font-weight: 400;
  font-size: 38px;
  color: #0f0f0f;
}
.contacto-container p{
  padding: 5px;
  margin-left: 30px;
  margin-top: 5px;
}
.contacto-info{
  height: 400px;
  width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto-info ul{
  
  padding: 10px;
  list-style: none;

}
.contacto-info li{
  padding: 20px 0 20px 0;
  color: #0f0f0f;
  font-size: 18px;
  font-weight: 400;
}

.contacto-img{
  margin-top: 20px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  
}
.contacto-img img{
  width: 100%;
  
}

/* Servicios */
.servicios-container{
  width: 100%;
  background-color: #dee0e4;
}

.servicio-desc{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  width: 100%;
  height: 350px;
}
.servicio-text{
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  
}
.servicio-title{
  padding: 5px;
  text-align: center;
  font-size: 22px;
  color: aliceblue;
  background-color: #475c63;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 30%;
}
.servicio-title h3{
  font-weight: 400;
  margin-top: 15px;
}
.servicio-desc-p{
  padding: 20px;
  background: #255246;
  background: linear-gradient(0deg, rgba(103, 106, 137, 0) 0%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 10px;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.servicio-desc-p p{
  color: #0f0f0f;
  text-align: justify;
  font-size: 18px;
}
.servicio-desc-p button{
  padding: 5px;
  margin-top: 15px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #181D31;
  cursor: pointer;
  display: inline-flex;
  font-family: "Rubik";
  width: 100px;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
}

.servicio-desc-p button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.servicio-desc-p button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.servicio-desc-p button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.servicios-container img{

  height: 320px;
  width: 540px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  background-color: rgba(0, 0, 0, 0.5);
}

#modalContent {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  color: #aaaaaa;
}


footer{
  width: 100%;
  height: 60px;
  background-color: #181D31;
  border-top: 8px solid #6789836b;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
footer p{
  color: aliceblue;
  text-align: center;  
  font-size: 12px;
}