@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,400&family=Ubuntu:wght@300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:'Ubuntu', sans-serif;
  font-size: 400;
}
div{
  display: block;
}
.home-body{
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header{
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-family: "Rubik";
}
.social{
  background-color: #181D31;
  width: 100%;
  height: 40px;
}

.social-icons{
  width: 240px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  
}
.social-icons p{
  color: aliceblue;
  font-size: 12px;
  text-decoration: none;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo{
  margin-right: 25px;
  margin-bottom: 10px;
}
.nav-logo img{
  height: 60px;
  width: 100px;
}
.nav-link{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-right:50px;
  gap: 25px;
  
}
.nav-link a{
  text-decoration: none;
  color: #0f0f0f;
  font-size: 16PX;
  font-weight: 400;
  
}
.nav-link a:hover{
  
  color: #678983;
}

/* MAIN*/

.slide-container{
  height: 100%;
  background-image: url('../img/fondo_.png');
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
	width: 100%;
  height: 450px;
  background-color: #00000063; 
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main-image{
  height: 100%;
  background-image: url('../img/fondo_.png');
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
	width: 100%;
  height: 180px;
  background-color: #00000063; 
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.main-logo{
  padding: 25px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-mision_vision{
  display: grid;
  grid-template-columns: 500px 500px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  width: 100%;
  font-family: "Rubik";
  background-color: #dee0e4;
  border-top: solid 2px #678983;
  border-bottom: solid 2px #678983;
}
.main-mision_vision h3{
  text-align: center;
  margin: 10px;
  font-weight: 400;
}
.mision_vision{
  display: flexbox;
  align-items: center;
  justify-items: flex-end;
  padding: 20px;
  width: 500px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 5px;
  border: solid 2px #bad0cc ;
  font-weight: 200;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.descripcion{
  background-color: #FFF;
  width: 100%;
  margin-top: 15px;
  border-bottom: solid 2px #678983;
  
}
.descripcion-text{
    text-justify:auto;
    width: 100%;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 35px;
    padding-bottom: 40px;
    font-size: 22px;
    font-family: 'Rubik';
    font-weight: 100;
    color: #0f0f0f;
}

.certificacion{
  padding: 40px;
  margin: 15px;
  display: grid;
  grid-template-columns: 600px 600px;
  align-items: center;
  justify-content: center;
}
.certificacion h3{
  margin: 10px;
  font-weight: 400;
  font-family: 'Ubuntu';
  text-align: left;
  font-size: 24px; 
  color: #0f0f0f;
}

.certificacion_imagenes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.certificacion_imagenes img{
  width: 120px;
  height: 120px;
}


/*Servicios */

.posts{
  padding: 0 80px 40px;
  background-color: #dee0e4;
  border-bottom: solid 2px #678983;
}
.posts h2{
  padding: 30px 0px 15px 0px;
  text-align: center;
  font-size: 35PX;
  font-weight: 500;
  color: #0f0f0f;
}

.posts-blog{
  display: inline-block;
  padding: 15px;
  max-width: 32%;
  margin-bottom: 50px;
  background-color: #FFF;
  border-radius: 5px;
  font-family: 'Rubik';
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.posts-blog img{
  width: 100%;
  
}
.posts-blog h3{
  margin: 15px 0;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  color: #0f0f0f;
}

.posts-blog p{
  margin-bottom: 32px;
  font-weight: 100;
  color: #0f0f0f;
}

.posts-blog a{
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  color: #232e2b;
}

.clientes {
  padding: 15px;
}
.clientes h2{
  padding: 30px 0px 15px 0px;
  text-align: left;
  font-size: 35PX;
  font-weight: 500;
  color: #0f0f0f;
}
footer{
  width: 100%;
  height: 60px;
  background-color: #181D31;
  border-top: 8px solid #6789836b;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
footer p{
  color: aliceblue;
  text-align: center;  
  font-size: 12px;
}